/* global */
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'lato';
    color: #333;
}

.icon-cart{
    width: 40px;
    height: 40px;
    
}

img{
    max-width: 100%;
}



/* header */

header{
    display: flex;
    justify-content: space-between;
    padding: 40px 0 40px 0 ;
    color: aliceblue;
    background-color: #333;
    
}

h1{
    display: flex;
    margin: 8px;
}


/* carousel */

.carousel{
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}

#disney-slide{
    background-image: url(".\img\diretv go.png");
    background-size: cover;
}

/* .carousel img{
    width: 100%;
    height: 40px;
    display: none;
    position: absolute;
    object-fit: cover;
} */

.carousel img:first.child{
    display: block;
}

.carousel-coltrol{
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    margin-top: -20px;
    cursor: pointer;
}